body {
  text-align: center;
  height: 100vh;
}

.entry {
    display: block;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}

.entry-date {
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.entry-content {
    text-align: center;
}

.entry-source {
    margin: 2px;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}
