body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../assets/gradient.png'); /* Replace with your image */
    background-attachment: fixed; /* Keeps the background fixed */
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    text-align: center;
    line-height: 0.5;
}

#title-container {
    display: grid;
    justify-content: center;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

#checkbox_div {
    display: flex;
    margin-bottom: 5px;
}

#amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#generate-button {
    margin: auto;
    margin-bottom: 25px;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

img {
    height: 350px;
    object-fit: contain;
    width: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
