body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../assets/gradient.png'); /* Replace with your image */
    background-attachment: fixed; /* Keeps the background fixed */
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    margin: 5px;
}

#main-title {
    text-align: center;
    line-height: 0.5;
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
    margin: 25px;
}

#rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.round-div {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.characters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#duel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#duel-divider {
    margin: 25px;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

#duel-characters {
    display: flex;
    align-items: center;
}

.chara-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
}

.duel-chara-pic {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.duel-btn {
    font-size: 25px;
}

.chara-portrait-small {
    border: 2px solid white;
    margin: 1px;
    width: 50px;
    height: 50px;
}

.small-portrait {
    width: 50px;
    height: 50px;
}

.result-div {
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
    display: flex;
}

.gray {
    filter: grayscale(100%);
    opacity: 0.6;
}

.red {
  /* filter: sepia(1) saturate(5) hue-rotate(-20deg); */
    border: 2px solid red;
}

.green {
    border: 2px solid lime;
  /* filter: sepia(1) saturate(5) hue-rotate(90deg); */
}
