/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../assets/gradient.png'); /* Replace with your image */
  background-attachment: fixed; /* Keeps the background fixed */
  background-size: cover;
  background-position: center;
}

.side-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  color: white;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.side-panel.left {
  left: 0;
  transform: translateX(0);
}

.side-panel.right {
  right: 0;
  transform: translateX(0);
}

.side-panel.left.hidden {
  transform: translateX(-100%);
}

.side-panel.right.hidden {
  transform: translateX(100%);
}

.toggle-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 30px;
  height: 250px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: background 0.3s, opacity 0.3s;
  opacity: 0;
  text-align: center;
  line-height: 40px; /* Matches button height for vertical centering */
  border-radius: 25%;
}

/* Show button when hovering over the panel */
.side-panel:hover .toggle-btn {
  opacity: 1;
}

.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Positioning the toggle buttons */
.side-panel.left .toggle-btn {
  right: -40px;  /* Slightly outside the panel */
}

.side-panel.right .toggle-btn {
  left: -40px;  /* Slightly outside the panel */
}

.panel_button {
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.main-content {
  margin: 0% 25%; /* Leave space for side panels */
  padding: 0px;
  color: white;
  text-align: center;
}

.title-block {
  background: #010619;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents any overflowing content */
}

.content-block {
  background: white;
  margin: 2% 0%;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents any overflowing content */
}

.content-block img {
  width: 100%; /* Makes the image fit the block horizontally */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes inline spacing below the image */
  border-radius: 8px;
}

.title-block img {
  width: 100%; /* Makes the image fit the block horizontally */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Removes inline spacing below the image */
}
