h2 {
  margin: 0px;
}

.inactive {
  display: none !important;
}

.graph-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  aspect-ratio: 16 / 9;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 10px;
}

